[run]
branch = True
# Currently, Python3.14 defaults to sysmon which is incompatible with coverage plugins
# https://coverage.readthedocs.io/en/7.11.0/config.html#run-core
# https://github.com/nedbat/coveragepy/issues/1790
# https://github.com/nedbat/django_coverage_plugin/issues/102
core = ctrace
source =
  config
  pythonsd
plugins =
  django_coverage_plugin
omit =
  */**/migrations/*
  */**/settings/*
  */**/tests/**
  */**/tests.py
  wsgi.py

  # Skip local virtual and tox environments
  */.tox/*
  */.venv/*


[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug
    if settings\.DEBUG

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:
