repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
-   repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.4.2
    hooks:
    - id: black
      # Since the pre-commit runs on a file by file basis rather than a whole project,
      # The excludes in pyproject.toml are ignored
      exclude: migrations
      language_version: python3.14
