# Do not use this file to install requirements for development.
# Install requirements for local development with:
# pip install -r requirements/local.txt

# Requirements needed by Heroku for deployment
-r requirements/deployment.txt
