{% extends 'pythonsd/base.html' %}
{% load static %}


{% block metas %}<meta name="description" content="The San Diego Python User Group is a programming language special interest group with hundreds of active members and regular meetups. It is free to join and open to members of all skill levels.">{% endblock metas %}


{% block main %}

  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">San Diego Python</h1>
      <p class="lead">San Diego Python is a Python programming language special interest group with hundreds of active members and regular meetups. It is free to join and open to members of all skill levels whether you've mastered Python or are just starting to learn.</p>
    </div>
  </div>

  <div class="container">

    <section class="mb-3">
      <div class="row">
        <div class="col-lg-4">
          <h3>About us</h3>
          <p>San Diego Python is a group for those interested in learning about Python or connecting with other Python professionals. We have a smaller weekly meetup for people to work on Python projects and a larger monthly meetup on the 4th Thursday of the month with speakers and talks.</p>
          <p>Join us on <a href="https://www.meetup.com/pythonsd/">Meetup</a> to stay up to date with our upcoming events!</p>
        </div>

        <div class="col-lg-4">
          <h3 id="discord">Join us on Discord</h3>
          <p>Meetup events aren't the only time for chatting. There's also a Discord server. Sign on to ask questions, give answers, or just hang out. San Diego Python's Discord server is available at <a href="https://discord.gg/8GpWuVvdbQ" rel="nofollow noopener noreferrer">https://discord.gg/8GpWuVvdbQ</a>. The #jobs channel in Discord is great place to promote a job posting at your company.</p>
        </div>

        <div class="col-lg-4">
          <h3>Upcoming meetups</h3>
          <div id="meetup-widget" hx-get="{% url 'upcoming_events' %}" hx-trigger="load">
            <p class="small py-5">Loading...</p>
          </div>
          <p>Interested in giving a 5-7 minute lightning talk at the monthly meetup? <a href="http://pysd.io/talk" rel="nofollow noopener noreferrer">Please sign up!</a></p>
        </div>
      </div>
    </section>

    {# Sponsors #}
    <section class="mb-3">
      <div class="row">
        <div class="col-lg-6">

          <h3>Sponsors</h3>
          <p>These fine companies help to make San Diego Python a success.</p>

          <ul class="list-unstyled">
            <li class="media">
              <img src="{% static 'img/sponsors/qualcomm-logo.png' %}" class="mr-3" alt="Qualcomm">
              <div class="media-body">
                <h5 class="mt-0 mb-1"><a href="https://www.qualcomm.com/" rel="nofollow noopener noreferrer">Qualcomm</a></h5>
                <p class="m-0">Qualcomm provides the venue for our monthly meetup.</p>
              </div>
            </li>

            <li class="media">
              <img src="{% static 'img/sponsors/microsoft-logo.png' %}" class="mr-3" alt="Microsoft">
              <div class="media-body">
                <h5 class="mt-0 mb-1"><a href="https://www.microsoft.com/" rel="nofollow noopener noreferrer">Microsoft</a></h5>
                <p class="m-0">Microsoft sponsors food at our monthly meetup</p>
              </div>
            </li>

            <li class="media">
              <img src="{% static 'img/sponsors/jfrog-logo.png' %}" class="mr-3" alt="JFrog">
              <div class="media-body">
                <h5 class="mt-0 mb-1"><a href="https://jfrog.com/" rel="nofollow noopener noreferrer">JFrog</a></h5>
                <p class="m-0">JFrog sponsors our monthly meetups and provides giveaways!</p>
              </div>
            </li>
          </ul>

        </div> <!-- /col -->

        <div class="col-lg-6">
          <h3>Recent videos &amp; streams</h3>

          <div id="youtube-widget" hx-get="{% url 'recent_videos' %}" hx-trigger="load">
            <p class="small py-5">Loading...</p>
          </div>
        </div>
      </div>
    </section>

  </div> <!-- /container -->

{% endblock main %}
