{# Uses Bootstrap2 markup for integration onto the old SD Python site #}

{% for event in upcoming_events %}
  <li class="media">
    <div class="media-body">
      <div class="media-heading">
        <a href="{{ event.link }}" rel="nofollow">{{ event.name }}</a>
      </div>
      <p style="margin: 0">
        <span>{{ event.datetime|date:"N j, fa" }}</span>
        {% if event.venue %}<br><span>{{ event.venue }}</span>{% endif %}
      </p>
    </div>
  </li>
{% empty %}
  <p>No upcoming events</p>
{% endfor %}
