{% extends 'pythonsd/base.html' %}


{% block main %}
<div class="container mt-3">
<h1>Organizers</h1>

<p>If you would like to reach out, please contact the <a href="mailto:sandiegopython-organizers@googlegroups.com">Python SD Organizers</a>.</p>

{% comment %} <h3>Active Organizers</h3> {% endcomment %}

{% for organizer in active_organizers %}
    <h5>{{ organizer.name }}</h5>
    <p><a href="{{ organizer.meetup_url }}" rel="nofollow noopener noreferrer" target="_blank">Meetup</a>
    {% if organizer.linkedin_url %}
        |&nbsp;<a href="{{ organizer.linkedin_url }}" rel="nofollow noopener noreferrer" target="_blank">LinkedIn</a>
    {% endif %}
    </p>
{% endfor %}

{% comment %} <h3>Past Organizers</h3>

{% for organizer in past_organizers %}
    <h5>{{ organizer.name }}</h5>
    <p><a href="{{ organizer.meetup_url }}" rel="nofollow noopener noreferrer" target="_blank">Meetup Profile</a>
    {% if organizer.linkedin_url %}
        |&nbsp;<a href="{{ organizer.linkedin_url }}" rel="nofollow noopener noreferrer" target="_blank">LinkedIn Profile</a>
    {% endif %}
    </p>
{% endfor %} {% endcomment %}

</div>
{% endblock main %}
