{% if recent_videos %}
  {% with most_recent_video=recent_videos|first %}

    {% comment %}
    In addition to running the "privacy" domain for YouTube (youtube-nocookie),
    we are sandboxing YouTube to prevent it from setting cookies among other things.
    The "allow-popups" flags allow people to hit the "Watch on YouTube" button
    on the video player which navigates users to YouTube.

    See:
    * https://developer.mozilla.org/en-US/docs/Web/HTML/Element/iframe#sandbox
    * https://developer.mozilla.org/en-US/docs/Web/HTML/Element/iframe#allow
    * https://developers.google.com/youtube/iframe_api_reference
    {% endcomment %}
    <iframe
      class="aspect-video w-full rounded-lg"
      src="https://www.youtube-nocookie.com/embed/{{ most_recent_video.id }}?html5=1"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      sandbox="allow-scripts allow-same-origin allow-forms allow-popups allow-popups-to-escape-sandbox allow-presentation"
      allowfullscreen
    ></iframe>

  {% endwith %}
{% else %}
  {# Probably some sort of YouTube error #}
  <p>Check out our <a href="https://youtube.com/@sandiegopython" rel="nofollow noopener noreferrer">YouTube channel</a>.</p>
{% endif %}
