.navbar-brand {
  img {
    width: 8rem;
  }
}

.jumbotron {
  background: center / cover no-repeat url(../img/saturday-group-background.jpg);
}


// https://fontawesome.com/docs/web/add-icons/svg-bare
.icon {
  width: 1rem;
  height: 1rem;
  vertical-align: -.125rem;
}

.icon-2x {
  width: 2rem;
  height: 2rem;
  vertical-align: -.25rem;
}

#sponsors {
  .media img {
    width: 70px;
  }
}
