<!DOCTYPE html>
<html lang="en-us">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>

    <link rel="shortcut icon" href="{{ static('img/favicon.ico') }}" />
    <link rel="apple-touch-icon" href="{{ static('img/apple-touch-icon.png') }}">
    <link rel="stylesheet" href="{{ static('css/pythonsd.css') }}">
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{ url('home') }}"><img src="{{ static('img/pythonsd-logo.png') }}"> SD Python User Group</a>
        </div>
      </div>
    </nav>
    <div class="container theme-showcase" role="main">
      {% block content %}{% endblock %}
    </div>
    {% block js %}
      <script src="{{ static('js/vendor/jquery/jquery-1.11.2.min.js') }}"></script>
    {% endblock %}
  </body>

</html>
