{% macro nav_link(viewname, label) -%}
    {% set view_url = url(viewname) -%}
    <li{% if view_url == request.path %} class="active"{% endif %}><a href="{{ view_url }}">{{ label }}</a></li>
{%- endmacro -%}

<!DOCTYPE html>
<html lang="en-us">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>

    <link rel="shortcut icon" href="{{ static('img/favicon.ico') }}" />
    <link rel="apple-touch-icon" href="{{ static('img/apple-touch-icon.png') }}">
    <link rel="stylesheet" href="{{ static('css/pythonsd.css') }}">
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{ url('home') }}"><img src="{{ static('img/pythonsd-logo.png') }}"> SD Python User Group</a>
        </div>
        <ul class="nav navbar-nav">
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="https://github.com/pythonsd">GitHub</a></li>
          <li><a href="https://groups.google.com/forum/#!forum/pythonsd">Google Groups</a></li>
          <li><a href="http://www.meetup.com/pythonsd/">Meetup</a></li>
          <li><a href="https://twitter.com/sandiegopython">Twitter</a></li>
        </ul>
      </div>
    </nav>
    <div class="container theme-showcase" role="main">
      {% block content %}{% endblock %}
    </div>
    {% block js %}
      <script src="{{ static('js/vendor/jquery/jquery-1.11.2.min.js') }}"></script>
    {% endblock %}
  </body>

</html>
