{% extends "base.html" %}

{% block title %}San Diego Python{% endblock %}

{% block content %}

  <h1>Chat Room</h1>

  <p>Meetup events aren't the only time for chatting. There's also a
    #sandiegopython IRC channel on Freenode. Sign on to ask questions,
    give answers, or just hang out.</p>
  <p>This page contains instructions for signing onto the IRC channel.</p>

  <h2>Web Client</h2>
  <p>If you haven't used IRC before, the fastest way to start is by using
    the web client. You don't need to install anything on your computer for
    this.</p>
  <p>You'll need to choose a unique username and then you'll be put in the
    #sandiegopython channel on Freenode. You can type by clicking in the
    text box at the bottom and using your keyboard.</p>
  <p>Visit the Web Client:
    <a href="https://webchat.freenode.net/?channels=sandiegopython">https://webchat.freenode.net/?channels=sandiegopython</a>
  </p>

  <h2>Installing an IRC client</h2>
  <ul>
    <li><a href="http://xchat.org/">XChat</a> (Linux, Windows, Mac)</li>
    <li><a href="http://limechat.net/mac/">Limechat</a> (Mac)</li>
    <li><a href="http://www.mirc.com/">mIRC</a> (Windows)</li>
  </ul>
  <p>When setting up your IRC client:</p>
  <ol>
    <li>Select the FreeNode server (or enter irc.freenode.net)</li>
    <li>Join the channel #sandiegopython</li>
  </ol>
  <p>Alternatively click this link after installing your IRC client:
    <a href="irc://irc.freenode.net/sandiegopython">irc://irc.freenode.net/sandiegopython</a></p>

  <h2>More Resources</h2>
  <ul>
    <li><a href="http://www.pyladies.com/blog/irc-resources/">Introduction to IRC</a>
      from the PyLadies blog
    </li>
  </ul>

{% endblock content %}
