{% extends "base.html" %}

{% block title %}San Diego Python{% endblock %}

{% block content %}

  <h1>New to Python?</h1>

  <p>This guide will help you learn about Python, the larger Python community, and
    our local Python community.</p>
  <p>Lots of free learning material can be found online, but there are also local
    Python users who can give guidance as well.</p>
  <p>If you haven't done so already, join the <a href="http://www.meetup.com/pythonsd/">San Diego Python group</a>!</p>
  <h4>Online guides</h4>
  <ul>
    <li><a href="http://docs.python-guide.org/">The Hitchhiker's Guide to Python</a> - one of the best guides out there.
      It covers everything from installation to common modules and writing great code. It is highly recommended for
      novices as
      well as advanced Pythonistas.
    </li>
    <li><a href="http://docs.python.org/2/">Official Python documentation</a> - this is the
      official documentation from Python.org. The Python3 docs are
      <a href="http://docs.python.org/3/">here</a>. It is recommended that you keep a copy
      under your pillow.
    </li>
    <li><a href="http://learnpythonthehardway.org/book">Learn Python the Hard Way</a> - a
      free online guide for people who want step by step tutorials for learning
      Python. There are over 50 exercises here.
    </li>
  </ul>
  <p>The Python guide has a whole section on
    <a href="http://docs.python-guide.org/en/latest/intro/learning/">learning Python</a>
    as well.</p>
  <h4>Online classes</h4>
  <ul>
    <li><a href="http://learnpythonthehardway.org/">Learn Python the Hard Way</a> - this is
      the course (videos and PDF) that goes along with the online guide. Take
      a look at the guide and if you feel you would like a bit more then the
      course may be for you. The course is $29.
    </li>
    <li><a href="http://www.codecademy.com/tracks/python">Codeacademy</a> - Codeacademy has
      a number of online courses available for learning Python.
    </li>
    <li><a href="https://www.coursera.org/courses?search=python">Coursera</a> - Coursera
      also has a number of courses.
    </li>
  </ul>
  <h4>Online Videos</h4>
  <p>There are great videos for both Python novices as well as experts.</p>
  <ul>
    <li><a href="http://pyvideo.org/">PyVideos</a> - The big Python conferences such as
      PyCon and Djangocon are recorded and the videos are made freely available.
    </li>
    <li><a href="http://gettingstartedwithdjango.com/">Getting started with Django</a> -
      This kickstarter funded video series is for people with some Python
      background who are looking to learn Django.
    </li>
  </ul>
  <h4>Books</h4>
  <p>Other than Learn Python the Hard Way (which is arguably a book) probably
    the most well known Python books are:</p>
  <ul>
    <li>Python in a Nutshell by Alex Martelli</li>
    <li>Learning Python or Programming Python by Mark Lutz</li>
  </ul>
  <p>There are other more topic specific books including:</p>
  <ul>
    <li>Python for Data Analysis by Wes McKinney</li>
    <li>Python Algorithms by Magnus Lie Hetland</li>
    <li>Python Standard Library by Example by Doug Hellman</li>
  </ul>
  <h4>Past San Diego Python workshops</h4>
  <p>To help bootstrap the learning process, the San Diego Python group periodically
    hosts workshops on various topics such as Python for beginners, Python for web
    programmers or Python for data analysis.</p>
  <p>Our interactive <a href="http://test-driven-django-development.readthedocs.org/">Django TDD workshop material</a> is
    a good extension to the <a href="https://docs.djangoproject.com/en/1.6/intro/">official Django tutorial</a>.</p>
  <h4>Where to get help locally</h4>
  <p>In addition to showing up at our monthly Meetups and asking a question,
    you can start a thread on our
    <a href="https://groups.google.com/group/pythonsd">Google group</a> which is setup
    specifically for getting help on local Python projects. Over 100 local
    people monitor that group and one of the members will answer your
    question fairly quickly.</p>
  <p>You can ask one of the members on IRC. IRC is an old-school program for
    chat rooms popular with technology and open source communities. The San
    Diego Python group's channel (chat room) is #sandiegopython on freenode.
    To try it out, go to <a href="http://webchat.freenode.net/">webchat.freenode.net</a>
    and type in any nickname in the Nickname box and #sandiegopython in the
    Channels box. Fill out a captcha and you can talk to somebody from the
    group. There is almost always somebody in the chatroom although they
    may be away or sleeping.</p>
  <h2>Uses for Python</h2>
  <p>Pretty much anything can be built with Python. However, some uses are more popular than others.</p>
  <h4>Data analysis and scientific programming</h4>
  <p>San Diego has many science and math heavy industries such as biotech. Many
    people are exposed to Python through scientific or numeric Python packages
    (e.g. <a href="http://www.numpy.org/">NumPy</a> or <a href="http://www.scipy.org/">SciPy</a>) or through one of the
    scientific Python
    distributions (<a href="(https://www.enthought.com/)">enthought</a> sponsored us once).</p>
  <p>The <a href="http://docs.python-guide.org/en/latest/scenarios/scientific/">Hitchhiker's guide</a> contains more
    details about common data analysis and scientific computing packages.</p>
  <p>The San Diego Python meetup held a data analysis workshop in the past.</p>
  <h4>Web programming</h4>
  <p>Python is a very popular language for building dynamic websites. There is
    more detail in the <a href="http://docs.python-guide.org/en/latest/scenarios/web/">Hitchhiker's guide</a>.</p>
  <p>The static website you are currently reading was also produced using Python.</p>
  <h4>Local companies using Python</h4>
  <ul>
    <li>Qualcomm - using Python for test automation, data analysis and prototyping</li>
    <li>Cuker Interactive - web design and marketing company with a Python-powered CMS solution</li>
    <li>Brightscope - financial information company using Python for data crunching and web development</li>
  </ul>
  <h2>This guide</h2>
  <p>The goal of this guide is to help people in the San Diego Python group
    familiarize themselves with the Python language, larger Python community,
    and local Python community.</p>
  <h4>Contributing</h4>
  <p>The guide is intended to be a "living guide" meaning that it will change
    over time and receive updates when better information becomes available.
    With that said, to contribute to the guide, please send a
    <a href="https://github.com/pythonsd/pythonsd.org/tree/master/content/pages">pull request</a>
    on GitHub or mention additions or corrections to one of the San Diego Python
    organizers.</p>

{% endblock content %}
