{% extends "base.html" %}

{% block title %}San Diego Python{% endblock %}

{% block content %}

  <h1>Job Posting Guidelines</h1>

  <p>Would you like to get your job posting in front of over 700 local developers?
    Here are the steps and guidelines for posting your open position:</p>
  <ul>
    <li>The job posting must relate to Python in some way. This is the San Diego
      <strong>Python</strong> group after all.
    </li>
    <li>The job must be available to someone living in the greater San Diego area.
      Commutable parts of Orange and Riverside counties as well as remote jobs
      are all OK.
    </li>
    <li>The subject line must make it clear that it is a job posting.</li>
    <li>Please be clear whether this is a full-time or part-time job.</li>
  </ul>
  <p>Once you've crafted your job posting, send it in an email to
    <a href="mailto:PythonSD-list@meetup.com">PythonSD-list@meetup.com</a> from the same address you used to join the
    <a href="http://meetup.com/pythonsd">Meetup.com group</a>. These postings work best without attachments.
    There's a slight delay as all messages require approval.</p>
  <p>San Diego Python also sends out a newsletter on a monthly basis that includes
    job postings. If you would like your job posting featured in our newsletter,
    please send it to <a href="mailto:sandiegopython@gmail.com">sandiegopython@gmail.com</a>. See the
    <a href="http://pythonsd.org/june-newsletter-2014.html">newsletter from June 2014</a> for an example of a past
    newsletter.</p>
  <p>Posting a job opening is free but if you find excellent developers through
    San Diego Python, please consider a <a href="https://psfmember.org/civicrm/contribute/transact?reset=1&amp;id=9">donation</a>
    to San Diego Python. Your
    tax deductible donations go entirely toward running our periodic workshops.</p>

{% endblock content %}