# https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions
name: Continuous Integration Checks

# All PRs as well as pushes to main
on:
  push:
    branches:
    - main
  pull_request:

jobs:
  build:

    name: Unit tests and code style checks
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      # https://docs.astral.sh/uv/guides/integration/github/
      - uses: astral-sh/setup-uv@v4
        with:
          enable-cache: true

      - uses: actions/setup-python@v6
        with:
          python-version-file: "pyproject.toml"

      - name: Install dependencies
        run: |
          uv sync --frozen --extra dev
          uv tool install tox --with tox-uv

      - name: Run CI
        run: |
          tox
